<nav class="app_nav">
    <span class="nav_btn">返回</span>
    <span class="nav_title">首页</span>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
 </nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<div class="app_tabbar">
    <a routerLink="/home" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>英雄</span>
        </span>
        <p></p>
    </a>
    <a routerLink="/admin" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>守卫</span>
        </span>
        <p></p>
    </a>
    <a routerLink="/mine" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>我的</span>
        </span>
        <p></p>
    </a>
    <a routerLink="/message" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>危机中心</span>
        </span>
        <p></p>
    </a>
 
</div>