<nav class="app_nav">
    <span class="nav_btn">返回</span>
    <span class="nav_title">首页</span>
 </nav>
<router-outlet></router-outlet>
<div class="app_tabbar">
    <a routerLink="/home" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>首页</span>
        </span>
        <p></p>
    </a>
    <a routerLink="/message" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>消息</span>
        </span>
        <p></p>
    </a>
    <a routerLink="/mine" routerLinkActive="active">
        <span>
            <img src="" alt="">
            <span>我的</span>
        </span>
        <p></p>
    </a>
</div>